<!DOCTYPE html>
<html>
<head>
  <title>SoloMedicamentos - Encuentra el mejor precio de tus medicamentos y recíbelos en la puerta de tu casa</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Orbitron' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>

<body>
  <div class="w3-content">
    
    <img class="mySlides" src="https://lh3.googleusercontent.com/4SwvecZ4s-UCi-HFxGUMEGI84ODhcEZVqoQjh8qVMtD3S9sOR0eH4oShaz4rGV1mpDSeH9kp-p_iC58_Tbs88e1mAOJN2j_nWUOcYpJoCIbDWlFRpzLHBbN_XUvKCWruo5ClBB1MDLR3ftnJEONvp5uEiHZ5y40j6a_XZJZMcFbW_jONgo0rfP8aqQjti7pg6C0znxsysmYxnhgkIBIMDjeA-8aCJjBZl_ZtAbQc62bYERUMOLsUWxyWA7LudSDaB4h2fgp9hRUSyU3e86FGpVDEJc3p7KrQom3ZrvKV6SSEWiOPss7ebeX80J0vv6SOFjfOdqsIv9KJEzIT3W24aD-_KXC7z2MFeuJYaW8x75uQkWnMU4zIZXngjqyZvtFogmyXECG6bTuxxyPJ5-EbD85ECdjMJ6224urQfsUGOgfol2FhB48yL_HNCf8ypjWN8A3UFJKP7ytQpBE21ohNl4gu1e4pzGTymr4YVrdn9sXDrajUEIz5mj2vnqpw-DhrvUJW5tDfqq6c-3mG9JXSFhShsCBQPvU2iPmMycB4bKG3raUsyWXJTRKBbMyQnU7T2HOx3qug4ktuxujpp18_fMTTSUoaNTVdyfpryVaww3zV94jN-2TsxUFwB8cZjSlOfqjN0_nD-TkiK58-ePPfqYCLvkgJfSmOBDAc_xZAxar7LzlrUjxb9l2rEUJh=w1102-h135-no?authuser=0" alt="custom_html_banner2" style="width:100%">
    <img class="mySlides" src="https://lh3.googleusercontent.com/AgkdQNyfVuUqtuBdHMg_M6a3B9eiGJQtLb034DpkNzFq8ZOzordakNY_KaINVxX1YVfz2KG2VenM1iMvZAyrTuMbCHJc_w8RwmCS9l8-Zx8xDwExPu1L3l549je1EZya7iv73KMSgjK1-pBtAQ9WECv09P3iA3oEjWgc0cKulfiC1MoM3mfylPFZnK5nm22ukTNbtdALDlDXNZ4JQTBL-TOfOXd7wwK2HT4UfYOBwFAAvFOQ-CBp6ZHoN_ieYjRmTmQpWe4wk6mhSa_qmtm13DL18XgPX2YtB0MK1xeMx6xOOsAj419ZyeeClyQgbhnKDntcRPjWeH3QasxvAd_nm6QSIRGZ5G-xEttTtnRxlTLYfyldW5CRWHG003kPAXR7mu__YGbIiaiaKXmz6SHSc-wVRYEk2e6Eddh9jbUlMFH6wl2jTee1YHhSoSE25wDzvg03X3MD7U1sI47yanm0pMib2gwjGQFkxBSRr7NLoG0xJU0FxdJ-1wS_qKH6AUhyIFLGE6qZ6pamwU8tmLEzfo74ebS_aRUCDrUqtEpQ0TDdqJYLrWVgzc8XdHonxpKvhircDh613PwmyLbt8aNk-f7koNuJpDkhoTD6tA8si1W8ctzxeCHoWTxyIv6xcBSFO2vmxhbZ56ZdMpP9jUgrxIg9TZX_2WB3S1YZ0r1bBDmEYAKnYNLp5esZ4p6T=w1680-h898-no?authuser=0" alt="custom_html_banner2" style="width:100%">
    <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
   </div>
   <div class="norebro-bar bar  right">

		<div class="content font-titles uppercase">
		<div class="separator"></div>
		Mission Objective: Save + Revitalize Independent Pharmacy™	</div>
	
		<div class="share">
		<div class="title">
			<div class="icon ion-android-add"></div>
			<span class="name font-titles uppercase">Share</span>
		</div>
		<div class="links">
			<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.pioneerrx.com%2FWeb%2F"><span class="fa fa-facebook"></span></a><a href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fwww.pioneerrx.com%2FWeb%2F"><span class="fa fa-twitter"></span></a><a href="https://plus.google.com/share?url=https%3A%2F%2Fwww.pioneerrx.com%2FWeb%2F"><span class="fa fa-google"></span></a><a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https%3A%2F%2Fwww.pioneerrx.com%2FWeb%2F&amp;title=Home&amp;source=PioneerRx+-+Top+Pharmacy+Software+System"><span class="fa fa-linkedin"></span></a>		</div>
	</div>
		
</div>
  <div class="searchBar">
    <p>Ingrese el nombre del medicamento</p>
    <input type="search" id="med_name">
    <button class="btn-search" id="searchButton"> Buscar </button>
  </div>

  <div>
    <table id="results" class="table">
      
    </table>
    <div class="searchBar" id="Error"></div>
  </div>
  </div>

  <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  <script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

</body>
</html>

